
.main-border{
  height: 98%;
  width: 99%;
  background-color: #f2f2f2;
  border-radius: 25px;
  position: absolute;
  display: grid;
  display: flex;
}

#logo{
  padding-left: 10%;
  width: 80%;
}


.left-column {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
}

.right-column {
  width: 79%;
  text-align: center;
}

.input-field-lat {
  position: relative;
  margin-bottom: 20px;
}

.input-field-lat input[type="text"] {
  border-radius: 5px; /* Adjust the radius as needed */
  padding: 10px 10px 10px 75px; /* Add padding for better appearance */
  width: 235px;
  border: none;
  border-bottom: 1px solid black; /* Add a bottom border with your desired color */  
}
.input-field-lat label {
  position: absolute;
  top: 25%;
  left: 10px;
  font-size: 15px;
  color: #333;
  pointer-events: none;
  font-weight: bolder;
}

.input-field-long {
  position: relative;
  margin-bottom: 20px;
}

.input-field-long input[type="text"] {
  border-radius: 5px; /* Adjust the radius as needed */
  padding: 10px 10px 10px 85px; /* Add padding for better appearance */
  width: 225px;
  border: none;
  border-bottom: 1px solid black; /* Add a bottom border with your desired color */  
}
.input-field-long label {
  position: absolute;
  top: 25%;
  left: 10px;
  font-size: 15px;
  color: #333;
  pointer-events: none;
  font-weight: bolder;
}

.input-field-rssi {
  position: relative;
  margin-bottom: 20px;
}

.input-field-rssi input[type="text"] {
  border-radius: 5px; /* Adjust the radius as needed */
  padding: 10px 10px 10px 55px; /* Add padding for better appearance */
  width: 255px;
  border: none;
  border-bottom: 1px solid black; /* Add a bottom border with your desired color */  
}
.input-field-rssi label {
  position: absolute;
  top: 25%;
  left: 10px;
  font-size: 15px;
  color: #333;
  pointer-events: none;
  font-weight: bolder;
}

.input-field-csum {
  position: relative;
  margin-bottom: 20px;
}

.input-field-csum input[type="text"] {
  border-radius: 5px; /* Adjust the radius as needed */
  padding: 10px 10px 10px 105px; /* Add padding for better appearance */
  width: 205px;
  border: none;
  border-bottom: 1px solid black; /* Add a bottom border with your desired color */  
}
.input-field-csum label {
  position: absolute;
  top: 25%;
  left: 10px;
  font-size: 15px;
  color: #333;
  pointer-events: none;
  font-weight: bolder;
}

.input-field input[type="text"]::placeholder {
  font-weight: bolder;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
}

.locate-button{
  margin-right: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #110e59;
  color: white;
  border: none;
  cursor: pointer; /* Set the cursor to a pointer */
  transition: background-color 0.3s;
}
.locate-button:hover {
  background-color: white; /* Change the background color on hover */
  color: #110e59; /* Change the text color on hover */
  border: 2px solid #110e59; /* Add a border on hover */
}

.reset-button{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer; /* Set the cursor to a pointer */
  transition: background-color 0.3s;
}
.reset-button:hover {
  background-color: white; /* Change the background color on hover */
  color: #110e59; /* Change the text color on hover */
  border: 2px solid gray; /* Add a border on hover */
}

.google-map{
  margin-top: 2.5%;
  width: 100%;
  height: 95%; /* Set the desired height */
  
}

#map-iframe {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}



